.form{
    padding:50px;
    width:50%;
    margin-left:25%;
}

.input1{
    margin-left:97px;
    margin-bottom:5px;
}
.input2{
    margin-left:101px;
    margin-bottom:5px;
}
.input3{
    margin-bottom:5px;
}
.input4{
    margin-bottom:5px;
}
.label3{
    margin-right:60px;
}
.label4{
    margin-right:73px;
}
.input5{
    margin-right:38px;
    margin-bottom:5px;
}
.input6{
    margin-bottom:5px;
}
.input7{
    margin-bottom:5px;
}
.label5{
    padding:25px;
}
.label6{
    margin-right:85px;
}
.label7{
    margin-right:33px;
}

input{
    border-radius:5px;
}

label{
    font-weight:500;
}
button{
    padding:5px;
    margin:20px;
    cursor:pointer;
    border-radius:5px;
    border-width: 1px;
    width:25%; 
}
.dark_theme{
    color:white;
    background-color: black;
}
.light_theme{
    color:black;
    background-color: white;
}
#container{
    border-radius:15px;
}